{% extends "base.html" %}

{% block title %}Leaf Detection{% endblock title %}

{% block style %}{% endblock style %}

{% block script %}{% endblock script %}

{% block body %}
<br><br>
<form action="leaf_result" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Click the button to upload an image for disease detection. Accepted formats: .jpg, .png</p><br>
    <input type="file" name="file" accept=".jpg, .png" required><br><br>
    <input class="btn btn-primary" type="submit" value="Submit"><br>
</form>
{% endblock body %}