<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Smart Mango Harvesting</title>

    <link rel="shortcut icon" href="{{media_url}}images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{media_url}}css/style.css">
    {% block style %}{% endblock style %}

    {% block script %}{% endblock script %}
</head>
<body>
    {% comment %}Container div for entire body{% endcomment %}
    <div class="container">

      {% comment %}Navbar{% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="home" style="padding-left: 10px;">Smart Mango Harvest</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="home"><span class="sr-only">Home</span></a></li>
                {% comment %}<li class="nav-item"><a class="nav-link" href="detector">Detector</a></li>{% endcomment %}
              </ul>
            </div>
        </nav><br>
      {% comment %}End Navbar{% endcomment %}

      {% comment %}Top level heading{% endcomment %}
      <h1>Smart Mango Harvesting</h1><br>

      {% comment %}Body Code{% endcomment %}
      {% block body %}{% endblock body %}
      {% comment %}End Body Code{% endcomment %}

      <br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
