{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block style %}
<style>
    a{
        display: block;
    }
</style>
{% endblock style %}

{% block script %}{% endblock script %}

{% block body %}
<h2>Get Ready for some Object (Mango) Detection!</h2><br>

<a class="btn btn-primary" href="start_detection">Start Live Detection</a><br><br>

<big>OR</big><br><br>

<form action="image_classify" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="mango_chi_image" name="mango_chi_image" accept=".jpg, .png" required><br>
    <p>Click the button to upload a mango image for classification. Accepted formats: .jpg, .png</p>
    <input class="btn btn-primary" type="submit" value="Submit"><br>
</form>

{% endblock body %}